<web-app>

<servlet>
<servlet-name>contact</servlet-name>
<servlet-class>Contact</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>contact</servlet-name>
<url-pattern>/ContactsUrl</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>game</servlet-name>
<servlet-class>com.lxisoft.treasurer.controller.GameServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>game</servlet-name>
<url-pattern>/game</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>output</servlet-name>
<servlet-class>com.lxisoft.treasurer.controller.OutputServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>output</servlet-name>
<url-pattern>/output</url-pattern>
</servlet-mapping>
</web-app>