<web-app>

<servlet>
<servlet-name>sample</servlet-name>
<servlet-class>com.RequestController</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>sample</servlet-name>
<url-pattern>/controller</url-pattern>
</servlet-mapping>

<security-constraint>
      <web-resource-collection>
         <web-resource-name>index</web-resource-name>
         <url-pattern>/index.jsp/*</url-pattern>
         <http-method>GET</http-method>
         <http-method>POST</http-method>
      </web-resource-collection>
      
      <auth-constraint>
         <description>
            Let only managers use this app
         </description>
         <role-name>javarole</role-name>
      </auth-constraint>
   </security-constraint>
   <security-role>
      <role-name>javarole</role-name>
   </security-role>
   
   <login-config>
      <auth-method>BASIC</auth-method>
   </login-config>

</web-app>