body {
	background-color: #fff;
	margin: 0;
	padding: 0px ;
	font-family: sans-serif, verdana;
}
header h3 {
	font-size: 150%;
	font-weight: 0;
	color: #ffe4c4;
}
header h4 {
	font-weight:1500;
	color: #f5f5dc;
	margin-bottom: 20px; 
}
header h3,h4 {
	padding-left: 50px;
}
div#top {
	background-color: #ff1493;
	/*background-color:#ff1493;*/
	color: #fff;
	padding: 25px 0px 20px 25px;
}
h5 {
	color:#12845d;
	text-align: center;
	font-size: 130%; 
}
#login {
	margin-left: 20%;
	/*position: absolute;*/
	width: 60%;
	border:1px solid #009999;
	border-radius: 4px;
	text-align: center;
	background-color: #2ba77b;
	color: #bbdbcd;
	line-height: 25px;
	float: left;
}
legend {
	margin-top: 15px;
	margin-left: 35px;
	margin-bottom: 10px;
	color: #fff;
	font-size: 120%;
}
form input#login {
	margin-bottom: 10px;
	padding: 5px;
	background-color: #12845d;
	color: #fff;
	border: none;
	width:50%;
	font-size: 150%;
}
#login_submit {
	margin-top: 10px;
	margin-bottom: 15px;
	width: 130px;
	padding: 3px;
	color: #12845d;
	background-color: #fff;
	border-radius: 3px;
	border: none;
	font-size: 18px; 
}
#login_submit:hover {
	/*border: 1px solid #12845d;*/
	color: #12845d;
	background-color: #bbdbcd;
}
.instruction{
	color:#12845d;
	text-align: left;
	line-height: 25px;
	padding-left: 20%;
}
a {
	margin-left: 50%;
	text-decoration: none;
	color: white;
	padding: 10px 5px;
	text-align: center;
	display: block;
	width: 130px;
	border: 1px solid #ff1493;
	border-radius: 4px;
	background-color: #ff1493;
	-webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
a:hover {
	background-color: white;
	color: #ff1493;
	/*color: #009999;*/
	/*009999*/
	border-radius: 4px 4px 4px 4px;
	transition: 0.3s;
}
#question {
	border: 1.2px solid #ff1493;
	border-radius: 5px;
	margin: 30px;
	text-align: left;
	padding: 15px;
	font-size: 20px;
	color: #12845d;
	/*color: #ff1493;*/
}
#next_submit {
	/*margin-top: 10px;
	margin-bottom: 15px;
	width: 130px;
	padding: 3px;
	color: #12845d;
	background-color: #fff;
	border-radius: 3px;
	border: none;
	font-size: 18px; */
	margin-left: 20%;
	margin-top: 30px;
	color: white;
	font-size: 16px;
	padding: 4px;
	text-align: center;
	display: block;
	width: 110px;
	border: 1px solid #ff1493;
	border-radius: 4px;
	background-color: #ff1493;
	-webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
#next_submit:hover {
	/*border: 1px solid #12845d;*/
	color: #ff1493;
	background-color: #fff;
}
table {
	margin-top: 45px;
	margin-left: 25%;
	width: 50%;
	border: 1.2px solid #2ba77b;
	border-radius: 15px;
	text-align: left;
	font-family: "open Sans",Segoe UI,Arial,sans-serif;
	padding: 15px;
	background-color: #2ba77b;
	/*background-color: #ff1493;*/
	color: #fff0f5;
	/*color: #ffe4e1;*/
	line-height: 1.8em;
	font-size: 120%;
}
th#score{
	text-align: center;
}
td#score{
	border: 1.2px solid #2ba77b;
	border-radius: 50%;
	padding: 10px;
	width: 150px;
	height: 150px;
	color: #ff1493;
	background-color: #fff;
	font-size: 30px;
	text-align: center;
}
h4#fail{
	color: #e45151;
	font-size: 120%;
	text-align: center;
	margin-top: 35px;
}
h4#pass{
	color: #009900;
	font-size: 120%;
	text-align: center;
	margin-top: 35px;
}
